@use '@angular/material' as mat;

.dense-input {
  @include mat.form-field-density(0);
}

.date-picker-theme {
  @include mat.datepicker-overrides((
      range-input-separator-color: #ffffff,
      toggle-icon-color: #ffffff,
      toggle-active-state-icon-color: #f3cd01
    ));
}

.icon-theme {
  @include mat.icon-overrides((color: #ffffff));
}

.form-field-theme {
@include mat.form-field-overrides((
    /* Writing */
    outlined-input-text-color: #ffffff,
    outlined-input-text-placeholder-color: #ffffff,
    outlined-caret-color: #f3cd01,

    /* Idle */
    outlined-label-text-color: #ffffff,
    outlined-outline-color: #ffffff,

    /* Focus */
    outlined-focus-label-text-color: #f3cd01,
    outlined-focus-outline-color: #f3cd01,
    outlined-hover-label-text-color: #f3cd01,
    outlined-hover-outline-color: #f3cd01,

    /* Error */
    outlined-error-label-text-color: #ff6b6b,
    outlined-error-outline-color: #ff6b6b,
  ));
}


/* Mobile (compact) */
@media (max-width: 600px) {
  .dense-input {
    @include mat.form-field-density(-5);
  }
}