
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}


.filter-bar-theme {
  @include mat.tabs-overrides((
    active-label-text-color: #f3cd01,
    inactive-label-text-color: #ffffff,
    active-hover-label-text-color: #f3cd01,
    inactive-hover-label-text-color: #ffffff,
    active-focus-label-text-color: #f3cd01,
    inactive-focus-label-text-color: #ffffff,
    active-indicator-color: #f3cd01,
    active-focus-indicator-color: #f3cd01,
    active-indicator-height: 5px
  ));
}


.date-picker-theme {
  @include mat.datepicker-overrides((
      range-input-separator-color: #ffffff,
      toggle-icon-color: #ffffff,
      toggle-active-state-icon-color: #f3cd01
    ));
}

.icon-theme {
  @include mat.icon-overrides((color: #ffffff));
}

.form-field-theme {
  @include mat.form-field-overrides((
      /* Writing */
      outlined-input-text-color: #ffffff,
      outlined-input-text-placeholder-color: #ffffff,
      outlined-caret-color: #f3cd01,

      /* Idle */
      outlined-label-text-color: #ffffff,
      outlined-outline-color: #ffffff,

      /* Focus */
      outlined-focus-label-text-color: #f3cd01,
      outlined-focus-outline-color: #f3cd01,
      outlined-hover-label-text-color: #f3cd01,
      outlined-hover-outline-color: #f3cd01,

      /* Error */
      outlined-error-label-text-color: #ff6b6b,
      outlined-error-outline-color: #ff6b6b,
    ));
}

// .checkbox-theme {
//   @include mat.checkbox-overrides((
//       selected-checkmark-color: #8c2131,
//       selected-icon-color: #f3cd01,
//       unselected-icon-color: #ffffff,
//       label-text-color: #ffffff,
//     ));
// }

// .select-theme {
//   @include mat.select-overrides((
//       trigger-text-color: #ffffff,
//       arrow-color: #ffffff,
//       enabled-arrow-color: #ffffff,
//       focused-arrow-color: #f3cd01,
//     ));
// }

// .button-theme {
//   @include mat.button-overrides((
//       text-color: #ffffff,
//     ));
// }

@media (max-width: 600px) {
  .dense {
    @include mat.form-field-density(-5);
  }
}
